spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pbft_node_${GRPC_PORT:9091}
    username: dspbft
    password: niranjan
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 40
      minimum-idle: 10
      connection-timeout: 60000
      idle-timeout: 300000
      max-lifetime: 1800000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate.hbm2ddl.import_files_sql_extractor: org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor
  h2:
    console:
      enabled: true
  sql:
    init:
      mode: always

  devtools:
    restart:
      enabled: false

server:
  port: ${SERVER_PORT:8080}

  sql:
    init:
      mode: always
grpc:
  server:
    address: 127.0.0.1
    port: ${GRPC_PORT:9090}
    executor:
      threadPoolSize: 16
    security:
      enabled: false
  client:
    pbft-service:
      address: "static://localhost:${GRPC_PORT:9090}"
      negotiationType: PLAINTEXT

pbft:
  checkpoint:
    enabled: true
  cluster:
    total-nodes: 7
    byzantineNodes: 2
    checkpoint-interval: 5
    nodes:
      - id: 1
        host: localhost
        grpcPort: 9091
        httpPort: 8081
      - id: 2
        host: localhost
        grpcPort: 9092
        httpPort: 8082
      - id: 3
        host: localhost
        grpcPort: 9093
        httpPort: 8083
      - id: 4
        host: localhost
        grpcPort: 9094
        httpPort: 8084
      - id: 5
        host: localhost
        grpcPort: 9095
        httpPort: 8085
      - id: 6
        host: localhost
        grpcPort: 9096
        httpPort: 8086
      - id: 7
        host: localhost
        grpcPort: 9097
        httpPort: 8087

  clients:
    concurrent-request-processing: false

  timers:
    progress-timeout-ms: 6000
    activity-timeout-ms: 3000
    startup-grace-ms: 1000
  attacks:
    dark:
      activity-timeout-ms: 1000
  optimizations:
    bonus_1:
      enabled: false
      max-wait-ms: 3500
    bonus_2:
      enabled: false

  logging:
    commit:
      require-preprepare: true
logging:
  level:
    root: info
    org.hibernate: warn
    org.hibernate.SQL: off
    org.hibernate.orm.jdbc.bind: off
    org.hibernate.orm.jdbc.extract: off
    org.hibernate.engine.jdbc.spi.SqlStatementLogger: off
    org.hibernate.type.descriptor.sql.BasicBinder: off
    org.hibernate.stat: off
    org.hibernate.SQL_SLOW: off
    org.hibernate.cache: off
    org.hibernate.jdbc: off
    org.hibernate.orm.results: off
    org.hibernate.orm.query: off
    org.hibernate.orm.jdbc: off
    com.distributedsystems.pbft.service.CheckpointService: debug
